/* Add CSS Styling */

.odds {
  background-color: #ff9ca7;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.diff-size {
  font-size: 24px;
}

#two {
  color: rgb(0, 0, 255);
  font-size: 36px;
}

#four {
  background-color: hsl(120, 100%, 74%);
  font-weight: 700;
}
