/* Add CSS Styling */

.blk-btn,
.ylw-btn {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.blk-btn {
  color: #ffffff;
  background-color: #000000;
}

.ylw-btn {
  background-color: rgb(255, 255, 0);
}
